web/WEB-INF/wsdl/localhost_30052/AriaWS/AriaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ariaWebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ariaWebService/">

<xs:element name="validateAdmin" type="tns:validateAdmin"/>

<xs:element name="validateAdminResponse" type="tns:validateAdminResponse"/>

<xs:element name="validateCustomer" type="tns:validateCustomer"/>

<xs:element name="validateCustomerResponse" type="tns:validateCustomerResponse"/>

<xs:complexType name="validateCustomer">
<xs:sequence>
<xs:element name="loginCust" type="tns:customerLogin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerLogin">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateAdmin">
<xs:sequence>
<xs:element name="loginAdm" type="tns:adminLogin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminLogin">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>