web/WEB-INF/wsdl/localhost_30052/Function/Function.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servlet/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servlet/" name="Function">
<types>
<xsd:schema>
<xsd:import namespace="http://Servlet/" schemaLocation="http://localhost:30052/Function/Function?xsd=1"/>
</xsd:schema>
</types>
<message name="cekCustomer">
<part name="parameters" element="tns:cekCustomer"/>
</message>
<message name="cekCustomerResponse">
<part name="parameters" element="tns:cekCustomerResponse"/>
</message>
<message name="profilCustomer">
<part name="parameters" element="tns:profilCustomer"/>
</message>
<message name="profilCustomerResponse">
<part name="parameters" element="tns:profilCustomerResponse"/>
</message>
<message name="cekJumlahKamar">
<part name="parameters" element="tns:cekJumlahKamar"/>
</message>
<message name="cekJumlahKamarResponse">
<part name="parameters" element="tns:cekJumlahKamarResponse"/>
</message>
<message name="ubahJumlahKamar">
<part name="parameters" element="tns:ubahJumlahKamar"/>
</message>
<message name="booking">
<part name="parameters" element="tns:booking"/>
</message>
<message name="profilAdmin">
<part name="parameters" element="tns:profilAdmin"/>
</message>
<message name="profilAdminResponse">
<part name="parameters" element="tns:profilAdminResponse"/>
</message>
<message name="validateAdmin">
<part name="parameters" element="tns:validateAdmin"/>
</message>
<message name="validateAdminResponse">
<part name="parameters" element="tns:validateAdminResponse"/>
</message>
<message name="validateCustomer">
<part name="parameters" element="tns:validateCustomer"/>
</message>
<message name="validateCustomerResponse">
<part name="parameters" element="tns:validateCustomerResponse"/>
</message>
<portType name="Function">
<operation name="cekCustomer">
<input wsam:Action="http://Servlet/Function/cekCustomerRequest" message="tns:cekCustomer"/>
<output wsam:Action="http://Servlet/Function/cekCustomerResponse" message="tns:cekCustomerResponse"/>
</operation>
<operation name="profilCustomer">
<input wsam:Action="http://Servlet/Function/profilCustomerRequest" message="tns:profilCustomer"/>
<output wsam:Action="http://Servlet/Function/profilCustomerResponse" message="tns:profilCustomerResponse"/>
</operation>
<operation name="cekJumlahKamar">
<input wsam:Action="http://Servlet/Function/cekJumlahKamarRequest" message="tns:cekJumlahKamar"/>
<output wsam:Action="http://Servlet/Function/cekJumlahKamarResponse" message="tns:cekJumlahKamarResponse"/>
</operation>
<operation name="ubahJumlahKamar">
<input wsam:Action="http://Servlet/Function/ubahJumlahKamar" message="tns:ubahJumlahKamar"/>
</operation>
<operation name="booking">
<input wsam:Action="http://Servlet/Function/booking" message="tns:booking"/>
</operation>
<operation name="profilAdmin">
<input wsam:Action="http://Servlet/Function/profilAdminRequest" message="tns:profilAdmin"/>
<output wsam:Action="http://Servlet/Function/profilAdminResponse" message="tns:profilAdminResponse"/>
</operation>
<operation name="validateAdmin">
<input wsam:Action="http://Servlet/Function/validateAdminRequest" message="tns:validateAdmin"/>
<output wsam:Action="http://Servlet/Function/validateAdminResponse" message="tns:validateAdminResponse"/>
</operation>
<operation name="validateCustomer">
<input wsam:Action="http://Servlet/Function/validateCustomerRequest" message="tns:validateCustomer"/>
<output wsam:Action="http://Servlet/Function/validateCustomerResponse" message="tns:validateCustomerResponse"/>
</operation>
</portType>
<binding name="FunctionPortBinding" type="tns:Function">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cekCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="profilCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekJumlahKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ubahJumlahKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="booking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="profilAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Function">
<port name="FunctionPort" binding="tns:FunctionPortBinding">
<soap:address location="http://localhost:30052/Function/Function"/>
</port>
</service>
</definitions>