src/conf/xml-resources/web-service-references/wsRpl/wsdl/localhost_8080/wsRpl/wsRpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rpl.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rpl.org/" name="wsRpl">
<types>
<xsd:schema>
<xsd:import namespace="http://rpl.org/" schemaLocation="http://localhost:8080/wsRpl/wsRpl?xsd=1"/>
</xsd:schema>
</types>
<message name="showUser">
<part name="parameters" element="tns:showUser"/>
</message>
<message name="showUserResponse">
<part name="parameters" element="tns:showUserResponse"/>
</message>
<message name="updateKamar">
<part name="parameters" element="tns:updateKamar"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="showKamar">
<part name="parameters" element="tns:showKamar"/>
</message>
<message name="showKamarResponse">
<part name="parameters" element="tns:showKamarResponse"/>
</message>
<message name="addKamar">
<part name="parameters" element="tns:addKamar"/>
</message>
<message name="showTransaksii">
<part name="parameters" element="tns:showTransaksii"/>
</message>
<message name="showTransaksiiResponse">
<part name="parameters" element="tns:showTransaksiiResponse"/>
</message>
<message name="hapusCostumer">
<part name="parameters" element="tns:hapusCostumer"/>
</message>
<message name="hapusbooking">
<part name="parameters" element="tns:hapusbooking"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="delkamar">
<part name="parameters" element="tns:delkamar"/>
</message>
<portType name="wsRpl">
<operation name="showUser">
<input wsam:Action="http://rpl.org/wsRpl/showUserRequest" message="tns:showUser"/>
<output wsam:Action="http://rpl.org/wsRpl/showUserResponse" message="tns:showUserResponse"/>
</operation>
<operation name="updateKamar">
<input wsam:Action="http://rpl.org/wsRpl/updateKamar" message="tns:updateKamar"/>
</operation>
<operation name="hello">
<input wsam:Action="http://rpl.org/wsRpl/helloRequest" message="tns:hello"/>
<output wsam:Action="http://rpl.org/wsRpl/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="showKamar">
<input wsam:Action="http://rpl.org/wsRpl/showKamarRequest" message="tns:showKamar"/>
<output wsam:Action="http://rpl.org/wsRpl/showKamarResponse" message="tns:showKamarResponse"/>
</operation>
<operation name="addKamar">
<input wsam:Action="http://rpl.org/wsRpl/addKamar" message="tns:addKamar"/>
</operation>
<operation name="showTransaksii">
<input wsam:Action="http://rpl.org/wsRpl/showTransaksiiRequest" message="tns:showTransaksii"/>
<output wsam:Action="http://rpl.org/wsRpl/showTransaksiiResponse" message="tns:showTransaksiiResponse"/>
</operation>
<operation name="hapusCostumer">
<input wsam:Action="http://rpl.org/wsRpl/hapusCostumer" message="tns:hapusCostumer"/>
</operation>
<operation name="hapusbooking">
<input wsam:Action="http://rpl.org/wsRpl/hapusbooking" message="tns:hapusbooking"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://rpl.org/wsRpl/addCustomer" message="tns:addCustomer"/>
</operation>
<operation name="delkamar">
<input wsam:Action="http://rpl.org/wsRpl/delkamar" message="tns:delkamar"/>
</operation>
</portType>
<binding name="wsRplPortBinding" type="tns:wsRpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="showTransaksii">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hapusCostumer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="hapusbooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="delkamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="wsRpl">
<port name="wsRplPort" binding="tns:wsRplPortBinding">
<soap:address location="http://localhost:8080/wsRpl/wsRpl"/>
</port>
</service>
</definitions>